
<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white">© 2019 Copyright:
        <a target="blank" href="https://www.linkedin.com/in/aabedkashwa"> Aabed Kashwa</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
